body {
    padding-top: 80px;
}

.text-page-container {
    max-width: 800px;
    margin: 0 auto;
}

.text-page-container h2 {
    color: var(--primary-color);
    margin-top: 2rem;
    border-bottom: 1px solid #444;
    padding-bottom: 0.5rem;
}

.text-page-container li {
    margin-bottom: 0.5rem;
}

.text-page-container p,
.text-page-container li {
    font-family: var(--font-body);
}